<!------------ Technical Metadata  --------------------------------->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">


<!------------ SEO Metadata  --------------------------------->
<title> {{page.seo.title | default: site.data.site-settings.seo.title }} </title> 
<meta name="description" content="{{page.seo.description | default: site.data.site-settings.seo.description }}">
<meta name="keywords" content="{{page.seo.keywords | default: site.data.site-settings.seo.keywords }}">



<!----          Google          -->
<meta name="google-site-verification" content="p3M_Mhk2rtEe5egS0NPu_hxerp6P9WQxSrqu98VAGuI" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZVS7B9');</script>
    <!-- End Google Tag Manager -->

<!------------ External Stylesheets  ------------>

<!-- Gridlex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" media="print" onload="this.media='all'; this.onload=null;" >

<!-----         Slick Slider            -->
<!--- Main CSS that handles all the functionality --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'; this.onload=null;"/>

<!--- Slick theme that handles the way everything slides. Optional but very helpful --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer"  media="print" onload="this.media='all'; this.onload=null;"/>


<!--- Garamond 300, 400, 700-->

<style>
    /* cormorant-garamond-300 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/cormorant-garamond-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cormorant-garamond-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-garamond-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-garamond-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-garamond-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-garamond-v15-latin-300.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
       font-display: swap
}

/* cormorant-infant-300 - latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/cormorant-infant-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cormorant-infant-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-infant-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-infant-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-infant-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-infant-v16-latin-300.svg#CormorantInfant') format('svg'); /* Legacy iOS */
       font-display: swap
}
</style>
<!-- Custom Stylesheet  -->
<link rel="stylesheet" type="text/css" href="/style.css" />