


<footer class="padded-1 z-high sm-flex-flip grid-middle center bg-footer">
    <div class=" col-4_sm-12 left sm-text-center">
      <p>Daniel Brunner © 2022. Alle Rechte vorbehalten.                                                                                                        </p>
    </div> 
    <nav class=" right col-8_sm-12 sm-text-center">
      <a href="/datenschutz.html"> Datenschutz </a>
      <a href="/agb.html"> AGB </a>
      <a href="/impressum.html"> Impressum </a>
    </nav> 
  </footer>

  