
<header class="grid-middle hide-sm">
</nav>
<div class="col-5 left">
    <a href="/index.html"> 

      <picture>
        <source type="image/webp" srcset="images/logo.webp">
        <source type="image/png" srcset="images/logo.png">   
        <img  alt="Logo" class="logo-header lazy" data-src="/images/logo.png">
    </picture>

    </a>
  </div>

  </a>
</div> 
    <nav class="col-7-top right">

      <a href="#contact"> Kontaktiere mich </a>
      <a href="#services"> Meine Services </a>
      <a href="#about"> Über mich </a>     

  </header>
<header class="grid-middle show-sm">
  <div class="col-12 center margin-b-2">
    <a href="/index.html"> 
      <picture>
        <source type="image/webp" srcset="images/logo-phone.webp">
        <source type="image/png" srcset="images/logo-phone.png">   
        <img  alt="Logo" class="logo-header lazy" data-src="/images/logo-phone.png">
    </picture>
    <img alt="Logo Telefon" src="/images/logo-phone.png" width="100%">
    </a>
</div>
</header>
  


