

<!------------------------  Banner Desktop ------------------------>
<section id="banner" class="z-high grid-spaceAround  center md-padded-2 hide-sm">

   

    <div class="col-5_md-6_sm-12-middle  grid-spaceAround center">
      <h1 class="col-12 padded md-margin-t-0" >{{ page.text.h1_text }}</h1>
      <p class="margin-b-3 md-margin-b-1 col-12"> {{ page.text.paragraph_text }} </p>
      <a class="col-5 button" href="tel:06602747539">06602747539</a> 
      <a class="col-5 button" href="/index.html#about">Mehr Infos</a>
    </div>
  
  
  
  
    <div class="col-6_sm-12  md-padded-1">
        <picture>
            <source type="image/webp" srcset="images/banner.webp">
            <source type="image/jpeg" srcset="images/banner.jpg">
            <img alt="Technische Hilfe" class="lazy" data-src="/images/banner.png" width="100%">
        </picture>
    </div>
  </section>
  
  <!------------------------  Banner Phone  ------------------------>
  <section id="banner" class="z-high grid-spaceAround sm-flex-flip center md-padded-2 show-sm">
  
     
  
    <div class="col-5_md-6_sm-12-middle  grid-spaceAround center">
      <h1 class="col-12  md-margin-t-0" > {{ page.text.h1_text }} </h1>
  
  
    <div class="col-6_sm-10  md-padded-1">
      <picture>
          <source type="image/webp" srcset="images/banner.webp">
          <source type="image/jpeg" srcset="images/banner.jpg">
          <img alt="Technische Hilfe" class="lazy" data-src="/images/banner.png" width="100%">
      </picture>
  </div>
      <p class="margin-b-3 md-margin-b-1 col-12"> {{ page.text.paragraph_text }} </p>
      <a class="col-5 button" href="tel:06602747539">06602747539</a> 
      <a class="col-5 button" href="/index.html#about">Mehr Infos</a>
    </div>
  </section>
  