<!DOCTYPE html>
<html lang="de">

<head>

    {% include head.html %}
    
</head>

<body>

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}



    <!-- Javascript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


      <!-----   Slick Slider          -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>


    <!---        CirlceType     -->
    <script  src="/circletype.min.js" async></script>
    
    <!---       Typed Js-->
    <script  src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" async></script>

    <!----      My own Js File      -->
    <script src="/main.js"></script>

</body>

</html>